.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 8vw 2vw 8vw;
  gap: 3vw;
}
.active {
  color: #f4c550;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 20px;
  font-weight: 600;
}
.navList {
  display: flex;
  gap: 2vw;
  align-items: center;
  font-weight: 500;
}
.auth {
  display: flex;
  gap: 1vw;
}
.loginBtn {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  padding: 0.5vw 0 14px 0.5vw;
}
.loginBtnText {
  transition: color 0.3s ease-in-out;
}

.loginBtn:hover .loginBtnText,
.loginBtn:focus .loginBtnText {
  color: #f4c550;
}
.registerBtn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px 2.7vw 12px 2.7vw;
  border: none;
  background-color: #121417;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: rgb(54, 54, 54);
}
