.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 2vw 8vw 2vw 8vw;
  gap: 3vw;
}
.active {
  color: #f4c550;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 20px;
  font-weight: 600;
}
.navList {
  display: flex;
  gap: 2vw;
  align-items: center;
  font-weight: 500;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.loginBtn {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
}
.loginBtnText {
  transition: color 0.3s ease-in-out;
}

.loginBtn:hover .loginBtnText,
.loginBtn:focus .loginBtnText {
  color: #f4c550;
}
.registerBtn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px 2.7vw 12px 2.7vw;
  border: none;
  background-color: #121417;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: rgb(54, 54, 54);
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 14px;
  }
  .navList {
    flex-wrap: wrap;
  }
  .logo {
    font-size: 16px;
  }
  .registerBtn {
    font-size: 14px;
    padding: 12px 16px;
  }
  .loginBtn {
    font-size: 14px;
  }
  .auth {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .header {
    padding: 2vw 5vw;
  }
  .registerBtn {
    font-size: 14px;
    padding: 10px 14px;
  }
}
