.mainContainer {
  padding: 0px 4.5vw 0px 4.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}
.Hero {
  display: flex;
  gap: 1.6vw;
  margin-bottom: 1.6vw;
  height: 37vw;
  max-height: 600px;
  justify-content: center;
}
.HeroText {
  width: 50vw;
  max-width: 720px;
  border-radius: 1rem;
  background-color: #f8f8f8;
  padding: 4vw 6vw 5vw 4vw;
  box-sizing: border-box;
  overflow: hidden;
}
.HeroTitle {
  font-size: 2.8vw;
  font-weight: 600;
  margin-bottom: 2.2vw;
}
.HeroDecor {
  display: inline-block;
  background-color: #fbe9ba;
  border-radius: 10px;
  font-style: oblique;
  font-weight: 400;
  line-height: 0.8;
}
.HeroDescription {
  font-size: 1vw;
  font-weight: 500;
  max-width: 80%;
  margin-bottom: 2.8vw;
}
.HeroBtn {
  width: 17vw;
  height: 4vw;
  padding: 1.11vw 5vw;
  border: none;
  border-radius: 12px;
  background-color: #f4c550;
  font-size: 1.25vw;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}
.HeroBtn:hover,
.HeroBtn:focus {
  background-color: #fbe9ba;
}
.HeroPicContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39.44vw;
  max-width: 568px;
  border-radius: 30px;
  background-color: #fbe9ba;
  box-sizing: border-box;
}
.HeroPicBoy {
  width: 23.54vw;
  height: 23.54vw;
  background-image: url("/src/img/68e4226188648a055ee1b42bed644f46-sticker.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.HeroPicIMac {
  width: 25vw;
  height: 17.15vw;
  position: absolute;
  bottom: -6.11vw;
  background-image: url("/src/img/Union.png");
  background-size: cover;
  box-sizing: border-box;
  border-radius: 8px;
}
.HeroPicApple {
  position: absolute;
  bottom: 3.82vw;
}
.HeroAchievements {
  padding: 1vw 4vw;
  border: 2px dashed #f4c550;
  border-radius: 30px;
  box-sizing: border-box;
  width: 100%;
  max-height: 140px;
  margin-bottom: 2vw;
}
.AchievementsList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.AchievementsItem {
  display: flex;
  align-items: center;
  gap: 1.11vw;
}
.AchievementsItemNum {
  font-size: 1.94vw;
  font-weight: 500;
  text-wrap: nowrap;
}
.AchievementsItemText {
  max-width: 6.67vw;
  font-size: 1.5vw;
  color: #121417;
  opacity: 0.7;
  text-wrap: wrap;
}
